// COLORS
$color-primary: #70d3b7;
$color-primary-light: #b1e7d7;
$color-primary-dark: #529a86;

$color-white: #fff;
$color-black: #000;

$color-grey: #777;
$color-grey-light: #f7f7f7;
$color-grey-dark: #333;

$color-gmail: #dd4b39;
$color-github: #6cc644;
$color-twitter: #00aced;
$color-linkedin: #4875b4;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
