.header {
  height: 100vh;
  position: relative;

  &__text-box {
    position: absolute;
    width: 100%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
